/* */

* 
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-family: 'Montserrat', sans-serif ;
    vertical-align: baseline;      
}


body 
{
    width: 100%;

    /* background-image: url(../Images/2.png); */
    background-color: #262D3D;
    background-position: fixed;
    background-image: no-repeat;
    background-size: cover;   
    
}

#home
{

    width: 90%;
    margin: 0 auto; 
}

/* display content after the tab menu */

#topElements::after
{
    content: "";
    clear: both;
    display: table;
    
}

/* skills */


ul
{
    margin-top: 150px;
    list-style-type: none;
   
}

li
{
    margin-bottom: 10px;
    color: white;
    font-size: 20px;   
}

/* top elements */

#topElements 
{
    height: 150px;
    line-height: 150px;   
}

#topElements a
{
    color: white;
    text-decoration: none;  
   
}

#topElements a:hover
{
    color: #20CC83;
    text-decoration: none;
    cursor: pointer;

}

#topElements a img
{ 
    vertical-align: middle;
    
}


#topElements a:nth-child(1)
{
    float: right;
    word-spacing: 30px;

    

}


#topElements a:nth-child(2)
{
    float: right;
    word-spacing: 30px;
}


#topElements a:nth-child(3)
{
    float: right;
    word-spacing: 30px;
    
}

#topElements a:nth-child(4)
{
    float: right;
    word-spacing: 30px;
}
#topElements a:nth-child(5)
{
    float: right;
    word-spacing: 30px;
}
#topElements a:nth-child(6)
{
    float: right;
    word-spacing: 30px;
}


/* Header */

#homeDes
{
    color: white;
    font-size: 48px;
    padding-left: 25px;
    padding-top: 300px;
    margin: 100px 0 200px 0;
    text-align: center;
}

#homeDes p
{
    color: white;
    font-size: 16px;
    width: 45%;
    margin: 50px auto 0 auto;
    border: 1px solid white;
}

/* experience */

#experience
{
    text-align: center;
    width: 100%;
    
}

#experience img  
{
    margin: 1%;
    width: 40%;
}
 

 /*
 #experience img
 {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

 }




 .wL
 {
    position: absolute;
    top: 90%;
    left: 51%;
    transform: translate(-50%, -50%);
    background-color: #20CC83;
    padding: 10px;

 }


 .wR
 {
    position: absolute;
    top: 90%;
    left: 53%;
    transform: translate(-50%, -50%);
    background-color: #20CC83;
    padding: 10px;

 }

 */


 



/* Skills Section 

#skills
{
    text-align: center;
    width: 45%;
    margin: 0px auto 0 auto;
    position: relative;
}

#skills h1
{
    color: #13A3FD;
    font-size: 35px;
    margin: 100px;
   
}

#ThingsETC
{
   
    font-size: 90px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 140px;
    border: 2px solid white;
    color: rgb(0, 0, 0);
    z-index: -1;

}
*/
#work
{
    font-size: 35px;
    text-align: center;
    color: white; 
    margin: 10px;
    margin-left: 80px;
}

footer
{
    text-align: center;
    margin: 10px 0;
    

}
footer p
{
    color: white;
    margin-bottom: 0px;
}

/* Miraj Brahmbhatt Animation Logo */

#mirajbrahmbhatt
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fill 0.5 ease forwards 3s;
    
}

#mirajbrahmbhatt path:nth-child(16)
{
    stroke-dasharray:  503.2843933105469   ;
    stroke-dashoffset:  503.2843933105469 ;
    animation: line-anim 2s ease forwards;
}

#mirajbrahmbhatt path:nth-child(17)
{
    stroke-dasharray: 159;
    stroke-dashoffset: 159;
    animation: line-anim 2s ease forwards 0.3s;
}

#mirajbrahmbhatt path:nth-child(18)
{
    stroke-dasharray: 164;
    stroke-dashoffset: 164;
    animation: line-anim 2s ease forwards 0.6s;
}

#mirajbrahmbhatt path:nth-child(19)
{
    stroke-dasharray: 337;
    stroke-dashoffset: 337;
    animation: line-anim 2s ease forwards 0.9s;
}

#mirajbrahmbhatt path:nth-child(20)
{
    stroke-dasharray:223;
    stroke-dashoffset: 223;
    animation: line-anim 2s ease forwards 1.2s;
}

#mirajbrahmbhatt path:nth-child(21)
{
    stroke-dasharray: 406;
    stroke-dashoffset: 406;
    animation: line-anim 2s ease forwards 1.5s;
}

#mirajbrahmbhatt path:nth-child(22)
{
    stroke-dasharray: 164;
    stroke-dashoffset: 164;
    animation: line-anim 2s ease forwards 1.8s;
}

#mirajbrahmbhatt path:nth-child(23)
{
    stroke-dasharray:  337;
    stroke-dashoffset: 337;
    animation: line-anim 2s ease forwards 2.1s;
}

#mirajbrahmbhatt path:nth-child(24)
{
    stroke-dasharray: 318;
    stroke-dashoffset: 318;
    animation: line-anim 2s ease forwards 2.1s;
}

#mirajbrahmbhatt path:nth-child(25)
{
    stroke-dasharray: 445;
    stroke-dashoffset: 445;
    animation: line-anim 2s ease forwards 1.8s;
}

#mirajbrahmbhatt path:nth-child(26)
{
    stroke-dasharray: 374;
    stroke-dashoffset: 374;
    animation: line-anim 2s ease forwards 1.5s;
}

#mirajbrahmbhatt path:nth-child(27)
{
    stroke-dasharray: 318;
    stroke-dashoffset: 318;
    animation: line-anim 2s ease forwards 1.2s;  
}

#mirajbrahmbhatt path:nth-child(28)
{
    stroke-dasharray: 337;
    stroke-dashoffset: 337;
    animation: line-anim 2s ease forwards 0.9s;
}

#mirajbrahmbhatt path:nth-child(29)
{
    stroke-dasharray: 209;
    stroke-dashoffset: 209;
    animation: line-anim 2s ease forwards 0.6s;
}

#mirajbrahmbhatt path:nth-child(30)
{
    stroke-dasharray: 209;
    stroke-dashoffset: 209;
    animation: line-anim 2s ease forwards 0.3s;
}

@keyframes line-anim
{
    to
    {
        stroke-dashoffset: 0;
    }
}

  
/* CONTACT SCREEN */

input[type=text], textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #13A3FD;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 10px;
    resize: vertical;
  }
  
  input[type=submit] 
  {
    background-color: #4CAF50;
    color: white;
    padding: 10px 60px 10px 60px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 0px;
    margin-bottom: 100px;
    
  }

  button[type=clear]
  {
    background-color: rgb(206, 2, 29);
    color: white;
    padding: 11px 70px 12px 60px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left:10px;
    margin-bottom: 100px;
  }


.form
{
    margin-left: 150px;
    margin-right: 150px;

}

input[type=submit]:hover 
{
    background-color: #45a049;
}
button[type=clear]:hover
{
    background-color: rgb(197, 37, 37);
}
 
.name1
{
      color: #13A3FD;
      font-size: 20px;   
}

.name2
{
    color: #13A3FD;
    font-size: 20px; 
}

  
.name3
{
    color: #13A3FD;
    font-size: 20px; 
}

#contact h1
{
  
    font-size: 35px;
    text-align: center;
    color: white; 
    margin: 100px;
   
}



.aboutus
{

    overflow: hidden;
    text-align: center;
    background: #34495e;
    padding: 60px;


}


.ps img
{
    max-width: 90%;
    max-height: 1920px;
    margin-left: 50px;
 
}



  #container {
    background: #111;
    position: absolute;
    left: 50%;
    top: 50%;
  }
  
  #stats {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  
  /* Info */
  @keyframes show-info 
  {
    0% 
    {
      transform: rotateY(120deg);
    }
    100% 
    {
      transform: rotateY(0deg);
    }
  }
  .info {
    
    font-family: "Quantico";
    position: block;
    font-size: 12px;
    opacity: 0.8;
    color: #fff;
    margin-left: 17%;
    
   
  }

  .social
  {
   
    margin-left: 30%;
    position: fixed;
  }

  


 